.navbar-header {
	float: left;
	text-align: center;
	width: 100%;
}
			
.navbar-brand {
	float:none;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
	vertical-align: middle;
}

th {
	text-align: center;
}
